{% extends "base.html" %}
{% block title %}Password reset form{% endblock %}
{% block content %}

<form action="" method="post">
	{% csrf_token %}
    {% if form.email.errors %}
	{{ form.email.errors }}
	{% endif %}
	<p>Email:{{ form.email }}</p>
    <input type="submit" value="Reset password" />
</form>
{% endblock %}
