<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
       background-color: #79aec8;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
    logged in successfully to admin dashboard.....<br>
    <b>Welcome {{request.user.username}}</b>
<br>
<br>
    <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2 align="=center">List of Users </h2></div>
{#                    <div class="col-sm-4">#}
{#                        <button type="button" class="btn btn-info add-new" ><i class="fa fa-plus"></i> Add New</button>#}
{#                    </div>#}
                </div>
            </div>
            <table border="1">
            <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Name</th>
        <th>Email</th>

    </tr>
    <tr>
        {% for obj in users  %}
        <td>
             {{ obj.first_name }}
        </td>
        <td>
             {{ obj.last_name }}
        </td>
        <td>
             {{ obj.username }}
        </td>
        <td>{{ obj.email }}
        </td>
{#            {% if obj.is_superuser %}#}
            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            <td><a href="/delete/{{ obj.id }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>

{#            <td><input type="button" value="Edit" onclick="edituser({{ obj.id }})"></td>#}
{#         <td><input type="button" value="Delete"></td>#}
{#            {% endif %}#}
     </tr>
        {% endfor %}

    </table>
{#<center><a href="/emp" class="btn btn-primary">Add New Record</a></center>#}
    {% block content %}
    <p><a href="/logout/" >LogOut</a></p>
    {% endblock %}
</body>
</html>