{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
	    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'homepage' %}">PepTalk</a>
    </div>
    <ul class="nav navbar-nav">
<!--      <li class="active"><a href="{% url 'homepage' %}">Home</a></li>-->
<!--      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>-->
<!--        <ul class="dropdown-menu">-->
<!--          <li><a href="#">Page 1-1</a></li>-->
<!--          <li><a href="#">Page 1-2</a></li>-->
<!--          <li><a href="#">Page 1-3</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li><a href="#">Page 2</a></li>-->
    </ul>
<!--     <form class="navbar-form navbar-left" action="/action_page.php">-->
<!--      <div class="input-group">-->
<!--        <input type="text" class="form-control" placeholder="Search">-->
<!--        <div class="input-group-btn">-->
<!--          <button class="btn btn-default" type="submit">-->
<!--            <i class="glyphicon glyphicon-search"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'account_signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<!--<div class="container">-->
<!--  <h3 align="center">Welcome to AcademyBook!!!</h3>-->
<!--</div>-->
	</body>

<!--<a href="{% url 'account_login' %}">login</a> |-->
<!--<a href="{% url 'account_signup' %}">signup</a>-->
{% endblock %}

