{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<p>User: {{ request.user.username }} logged in.</p>
<p><a href="{% url 'homepage' %}">homepage</a></p>
<p><a href="{% url 'account_logout' %}">logout</a></p>
{% else %}
<a href="{% url 'account_login' %}">login</a> |
<a href="{% url 'account_signup' %}">signup</a>
{% endif %}
{% endblock %}


