{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}User List {% endblock title %}

{% block content %}
{{ filter.form|bootstrap }}
  <ul>
    {% for user in filter.qs %}
      <li>
        <a href="{% url 'users:detail' user.id %}">{{user.username}}</a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}